<h1>Forgot password</h1>


<form action="/forgot" method="POST">
  <label for="input-email" class="form-label">Email address</label>
  <input type="email" class="form-control" id="input-email" name="email" placeholder="Your email">

  <button type="submit" class="btn btn-primary rounded-0">Reset Password</button>

</form>