<h1>Reset password</h1>

<form action="/reset/{{user.resetPasswordToken}}" method="POST">
  <label for="input-password" class="form-label">New Password</label>
  <input type="password" class="form-control" id="input-password" name="password" placeholder="New password">

  <label for="confirm" class="form-label">Confirm Password</label>
  <input type="password" class="form-control" id="input-confirm" name="confirm" placeholder="Confirm password">

  <button type="submit" class="btn btn-primary rounded-0">Update Password</button>

</form>