<div id="header-img"></div>
<div class="container">
  <h1>Fonds voor West</h1>
  <p>Welcome!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus similique, porro magni animi harum laudantium
    sapiente maiores placeat mollitia rerum sed quas autem neque officia sequi optio fugiat dolore? Eaque. Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Officia similique odit harum a, tempora, voluptatum natus, hic
    accusantium perspiciatis quibusdam rerum ex. Voluptatem culpa atque facilis, dignissimos sit sed sequi.</p>
</div>