<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fonds voor West</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" href="https://www.mensenmakenamsterdam.nl/wp-content/uploads/2020/08/FV-04.jpg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuWhJdMM1bU-s_b5MJQ7UkIFxQo-tFDs&libraries=places&callback=initMap">
    </script>
</head>


<body>
  <div class="page-container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-default">
        <div class="container-fluid">
          <div>
            <a class="navbar-brand" href="/"><span class="navbar-brand-highlight">fonds voor west</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div id="navbar-tabs">
            {{#unless (ifNotLoggedIn user.role)}}
            <ul>
              {{#if (ifIsApplicant user.role) }}
              <li><a href="/profile">Profile</a></li>
              <li><a href="/create">Create</a></li>
              <li><a href="/projects">Projects</a></li>
              {{/if}}
              {{#if (ifIsCommittee user.role) }}
              <li><a href="/profile">Profile</a></li>
              <li><a href="/create">Create</a></li>
              <li><a href="/projects">Projects</a></li>
              {{/if}}
              {{#if (ifIsAdmin user.role) }}
              <li><a href="/profile">Profile</a></li>
              <li><a href="/create">Create</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/admin">Admin</a></li>
              {{/if}}
            </ul>
            {{/unless}}
          </div>

          <div id="navbar-auth">
            {{#if (ifNotLoggedIn user.role)}}
            <a class="navbar-btn" href="/signup"><span class="navbar-btn-highlight">Sign up</span></a>
            <a class="navbar-btn" href="/login"><span class="navbar-btn-highlight">Log in</span></a>
            {{else}}
            <form id="logout-form" action="/logout" method="POST">
              <button class="navbar-btn"><span class="navbar-btn-highlight">Log out</span></button>
            </form>
            {{/if}}
          </div>
        </div>
      </nav>

      <div id="header-img"></div>
    </header>


    <div id="main">
      {{{body}}}
    </div>

    <footer>
      <div>A project by <a href="https://github.com/dirkkelderman">Dirk Kelderman</a> and <a
          href="https://github.com/ashleyvermaas">Ashley Vermaas</a></div>
      <div>© 2020 D&A productions. All rights reserved.</div>
    </footer>
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>