

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-default {
  background-color: #00a6d0;
  border-color: #00a6d0;
}

a {
  color: #fafafa;
}

input {
  display: block;
}

#map {
  height: 500px;
  width: 100%;
 }

 