<h1>Accountability</h1>

<form action="/projects/{{_id}}/accountability" method="POST">

<label for="description-input">Accountability report:</label>
<textarea name="description" id="description-input" cols="40" rows="4"></textarea>

  <p>Upload files</p>

  <button type="submit">Submit</button>
</form>

