<h1>Apply for funding</h1>

<form action="/apply" method="POST">

<label for="name-input">Project Name:</label>
<input type="text" name="name" id="name-input"/>

<label for="date-input">Date:</label>
<input type="date" name="date" id="date-input"/>

<label for="location-input">Location:</label>
<input type="text" name="location" id="location-input"/>

<label for="description-input">Description:</label>
<textarea name="description" id="description-input" cols="30" rows="4"></textarea>

<button type="submit">Apply</button>
</form>