<div class="container justify-content-center">

    <div class="card border-0 mx-auto" style="width: 80%;">
      <div class="card-body">
              <div>
               <h3 class="profile-header">Email sent</h3>
              </div>
              <h6>Email</h6>
              {{email}}
              
              <h6>Subject</h6>
              {{subject}}
              
              <h6>Message</h6>
              {{message}}
      </div>
    </div>
</div>
